/* My Work*/
.my-work {
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
.section__subtitle--work {
  margin-bottom: 2em;
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}
.portfolio {
  display: grid;
  justify-items: center;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio__item {
  background: var(--clr-accent);
  border-radius: 5px;
  overflow: hidden;
}
.portfolio img {
  min-width: 100%;
  object-fit: cover;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
