<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Javier Portfolio website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="./assets/personal-Logo.png" alt="">
    </div>
    <button class="nav-toggle" aria-label="toggle navigation">
      <span class="hamburger"></span>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#services" class="nav__link">My Services</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">About me</a></li>
        <li class="nav__item"><a href="#work" class="nav__link">My Work</a></li>
      </ul>
    </nav>
  </header>
  <!-- Introduction -->
  <section class="intro" id="home">
    <h1 class="secction__title section__title--intro">
      Title <strong>of my project</strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">Subtitle</p>
    <img class="intro__img" src="../assets/test-Img.png" alt="Picture of Javier VIllegas">
  </section>
  
  <!-- footer -->
  <footer class="footer">
    <a href="mailto:javillegasna" class="footer__link">javillegasna@gmail.com</a>
    <ul class="social-list">
      <li class="social-list__item"><a href="" class="social-list__link"><i class="fa-brands fa-linkedin"></i></a></li>
      <li class="social-list__item"><a href="" class="social-list__link"><i class="fa-brands fa-github"></i></a></li>
    </ul>
  </footer>
  <script src="../js/index.js"></script>
</body>

</html>