:root{
    --header-h:34rem;
    --width-colum: 90vw ;
    --color-palete-L001: #151A1E;
    --color-palete-L003: #253142;
    --color-palete-L004: #4C5257;
    --color-palete-L005: #676C70;
    --color-palete-L006 :#ABAFB3;
    --color-palete-L007: #FFFFFF;
    --color-palete-O001: #151A1A81;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }
html{
    font-size: 6.25%;
}
body
{
    font-size: 16rem;
    min-width: var(--bhf-w);
    color: var(--color-palete-L005);
    
}
h1{
    margin: 0rem;
    font-size: 29rem;
}
h2{
    font-size: 21rem;
    padding: 10rem 0;
}

a{
    text-decoration: none;
    color: var(--color-palete-L005);
}
p{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    white-space: initial;
}
header{
    display: flex;
    height: var(--header-h);
    min-height: var(--header-h);
    background-color:var(--color-palete-L007);
}
.pict-logo{
    width: 10vw;
    display: flex;
    align-items: center; 
}
.pict-logo__img{
    max-width: 30rem;
    max-height: 30rem;
}
.nav{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav__icon{
    margin: 0 5rem;
    max-height: 20rem;
}

main{
    width: 100%;
    max-width: 100vw;
    min-height: calc(100vh - var(--header-h));
    background-color: var(--color-palete-L003);
}
.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-align: center;
    color: var(--color-palete-L006);
}
.title--header{
    border-top-left-radius:     10rem;
    border-top-right-radius:    10rem;
    background-color: var(--color-palete-L001);
}
.grid-el{
    width: var(--width-colum);
}
.grid-el--intro{
    grid-area: intr;
}
.grid-el--acad{
    grid-area: acad;
}
.grid-el--exp{
    grid-area: expe;
}
.grid-el--info{
    grid-area: info;
}
.grid-el__sect{
    margin-top: 10rem;
    border-radius: 10rem;
    width: var(--width-colum);
    background-color: var(--color-palete-O001);
}
.grid-el__sect--name{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pict-ID__img{
    max-width: 100rem;
    max-height: 100rem;
    border-radius: 50%;
}
.text--center{
    text-align: center;
}
.grap-ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.grap-ul__col{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.grap-li{
    padding: 10rem 0;
}
.grap-li__icon{
    margin: 0 4rem;
    max-width: 40rem;
    max-height: 40rem;  
}
.block-title{
    display: flex;
    justify-content:space-around;
}
.block-title__degree{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--width-colum) - 33vw);
}
.block-title__date{
    width: 33vw;
    display: flex;
    flex-direction: column;
}
.date::before{
    content: " | ";
}
.gen-list__text{
    padding: 5rem;
    display: inline-flex;
    width: auto;
}
.ext-link{
    display: inline-flex;
}
.ext-link__icon{
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ext-link__icon:hover{
    background-color: var(--color-palete-L004);
    border-radius: 5rem;
}
.list-work__item{
    display:grid;
    grid-template-columns: 17% 80%;
}
.list-work__icon{
    font-size: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.list-work__text{
    width: auto;
    padding-top: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    text-align: justify;
    align-items: center;
}
@media(min-width: 600px){
    .grid{
        display: grid;
        grid-template-areas: 'intr expe' 'acad expe' 'info info';
        justify-items: center;
        align-items: center;
    }
    .grid-el, .grid-el__sect{
        height: 99%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(var(--width-colum) * 0.5);
        
    }
    .grid-el--acad{
        flex-direction: row;
        align-items: flex-end;
    }
    .grid-el--info{
        width: 100%;
        flex-direction: row;
        justify-items: center;
        justify-content: space-around;
    }
}
@media(min-width: 1200px){
    .grid{
        display: grid;
        grid-template-areas: 'intr expe info' 'intr expe acad';
    }
    .grid-el, .grid-el__sect{
        height: 99%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(var(--width-colum) * 0.35);
    }
    .grap-li__icon{
        margin: 0 4rem;
        max-width: 70rem;
        max-height: 70rem;  
    }
    
}