:root{
    --header-h:34rem;
    --width-colum: 90vw ;
    --color-primary: #253142;
    --color-secondary:#00000042;
    --color-tertiary:#3D3229;
    --color-font: #636c77;
    --color-titles :#abafb3;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
html{
    font-size: 6.25%;
}
body
{
    min-width: var(--bhf-w);
    font-size: 16rem;
    color: var(--color-font);
}
h1{
    font-size: 29rem;
    margin: 0rem;
}
h2{
    font-size: 21rem;
}
a{
    text-decoration: none;
    color: var(--color-font);
}
header{
    background-color: white;
    height: var(--header-h);
    min-height: var(--header-h);
    display: flex;
}
.pict-logo{
    display: flex;
    align-items: center;
    width: 10vw;
}
.pict-logo__img{
    max-height: 30rem;
    max-width: 30rem;
}
.nav{
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav__icon{
    max-height: 20rem;
    margin: 0 5rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--header-h));
    width: 100vw;
    max-width: 100vw;
    background-color: var(--color-primary);
}
.title{
    text-align: center;
    color: var(--color-titles);
}
.title--header{
    background-color: #00000070;
    border-top-left-radius:     10rem;
    border-top-right-radius:    10rem;
}
.colum{
    width: var(--width-colum);
}
.colum__sect{
    background-color: var(--color-secondary);
    border-radius: 10rem;
    width: var(--width-colum);
    margin-top: 10rem;
}
.colum__sect--name{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pict-ID__img{
    max-height: 100rem;
    max-width: 100rem;
    border-radius: 50%;
}
.text--center{
    text-align: center;
}
.grap-ul{
    width: var(--width-colum);
    display: flex;
    justify-content:space-around;
}
.grap-ul__col{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.grap-li{
    padding: 10rem 0;
}
.grap-li__icon{
    max-width: 40rem;
    max-height: 40rem;
    margin: 0 4rem;
}
.block-title{
    display: flex;
    justify-content:space-around;
}
.block-title__degree{
    display: flex;
   align-items: center;
   justify-content: center;
}
.block-title__date{
    display: flex;
    flex-direction: column;
}
.date::before{
    content: " | ";
}
.ext-link{
    display: inline-flex;
}
.ext-link__text{
    display: inline-flex;
    width: calc(var(--width-colum) - 5vw);
}
.ext-link__icon{
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ext-link__icon:hover{
    background-color: var(--color-titles);
    border-radius: 5rem;
}
