:root{
    --bhf-w:100vw;
    --header-h: 4vh;
    --primary-color :#0e162c;
    --boxColor: rgba(255, 81, 0, 0.329);
    --rotateSpeed: 30s;
    --bounceSpeed: 2s;
}
/* general */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
html{
    font-size: 6.25%;
}
body
{
    min-width: var(--bhf-w);
}
/* header */
header{
    background-color: white;
    min-height: var(--header-h);
    display: flex;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    align-items: center;
    width: 10vw;
}
.logo-img{
    max-height: 30rem;
    max-width: 30rem;
}
.nav{
    font-size: 16rem;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list__item{
    display: inline-block;
    margin-left: 10rem;
    margin-right: 10rem;
}
.nav-list__item a{
    text-decoration: none;
    color: black;
}
.nav-list__item a:hover{
    color:gray;
}
.nav-list__item a:hover::after{
    color: gray;
    content: " | ";
}
/* main */
main{
    background-color: var(--primary-color);
    min-height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em);
    overflow: hidden;
}
.scene{
    position: relative;
    transform-style: preserve-3d;
    animation: 
        sceneRotate var(--rotateSpeed) infinite linear;
        @keyframes sceneRotate {
            to { transform: rotateY(360deg); }
        }
    }
@keyframes sceneRotate {
    to { transform: rotateY(360deg); }
}
.ball{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: lightblue;
    position: absolute;
    left: -0.5em;
    bottom: 1em;
    background-image: radial-gradient(
        circle at top,
        lightblue, 
        var(--primary-color)
    );
    animation:
    ballBounce var(--bounceSpeed) infinite ease-out,
    sceneRotate var(--rotateSpeed) infinite linear reverse;
}
@keyframes ballBounce{
    0%, 100% { bottom: .5em; }
    50% {
        bottom: 3em;
        animation-timing-function: ease-in;
    }
}
.ballSadow{
    position: absolute;
    width: 100%; height: 100%;
    background-image: radial-gradient(#000, #0007 50%);
}
.cube{
    width: 2em;
    height: 2em;
    transform-style: preserve-3d;
    position: absolute;
    bottom: -1em;
    left: -1em;
    animation: cubeHeight var(--bounceSpeed) infinite ease-out;  
}
@keyframes cubeHeight {
    0%, 100% { height: 1.5em;}
    14%, 93.5% {
      height: 2em;
    }
}
.left, .ri, .front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--boxColor);
    box-shadow: 0 0 0.5em var(--primary-color) inset;
}
.front{transform: translateZ(1em);}
.ri{transform: rotateY(90deg) translateZ(1em);}
.back{transform: rotateY(180deg) translateZ(1em);}
.left{transform: rotateY(270deg) translateZ(1em);}
.top{
        position: absolute;
        width: 2em;
        height: 2em;
        background: var(--boxColor);
        transform: translateY(-50%) rotateX(90deg);
}
.bottom{
    position: absolute;
    background: var(--boxColor) ;
    width: 2em;
    height: 2em;
    background: #0007;
    bottom: 0;
    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 0.5em var(--primary-color);
}

.floor{
    position: absolute;
    transform: translate(-50%, -50%)
    rotateX(85deg);
    top: 1em;
    width: 10em;
    height: 10em;
    background-image:
        radial-gradient(#8888, var(--primary-color)),
        repeating-conic-gradient(
        from 45deg,
       rgba(128, 128, 128, 0.212) 0deg 90deg, 
       #000 90deg 180deg);
    background-size: 1000%, 1em 1em;
}