body
{
    background: #1570B4;
    color: white;
    text-align :center;
    font-family: "courier";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#header #test
{
    width: 1450px;
    vertical-align: middle;
}