@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
$main_color: #1a7a8b;
$secondary_color: #ffffff;
$contrast_color: #000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.view {
  display: grid;
  grid-template-columns: auto 90%;
  grid-template-areas: "sidebar content";
}

.sidebar {
  grid-area: sidebar;
  height: 100vh;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $contrast_color;
  border-right: 1px solid $main_color;
  //logo area
  .container_logo {
    border: 1px solid $main_color;
    padding-bottom: 10px;
    background-color: $secondary_color;
  }
  &__logo {
    width: 50%;
  }
  &__name {
    color: $contrast_color;
    font-size: 1.5em;
    font-weight: bold;
  }
  &__rol {
    color: $contrast_color;
    font-family: serif;
    font-size: 1em;
    margin-top: 10px;
  }
  //menu area
  a {
    color: $main_color;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
  }
  .active{
    color: $secondary_color;
    position: relative;
  }

  a:hover {
    color: $secondary_color;
    text-decoration: none;
  }
  .sidebar__links {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sidebar__links li {
    list-style: none;
    padding: 15px 0;
    border-top: 1px solid $main_color;
  }
  .sidebar__links li:last-child {
    border-bottom: 1px solid $main_color;
  }
  //contact area
  .contact_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact_container a {
    margin-left: 5px;
  }
}
//content area
.content {
  grid-area: content;
  background-color: $contrast_color;
}
